body {
    padding: 0%;
    margin: 0%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.main{
    display: flex;
}
#btn1 {
    cursor: pointer;
    padding: 10px;
    border-radius: 10%;
    font-size: 70px;
}

#btn2 {
    cursor: pointer;
    padding: 10px;
    border-radius: 10%;
    font-size: 70px;
    display: none;
    color: rgb(0, 0, 0);

}

.bulb {
    gap: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buln-img {
    width: 100%;
    display: flex;
    justify-content: center;
}
#bulb-img2{
    display: none;
}