body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 320px;
}
.display {
    color: #fff;
    font-size: 2.5em;
    padding: 20px 20px 10px 20px;
    text-align: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.d-input{
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    border-radius: 5px;
    color: black;
    box-shadow: inset 0 0 4px #000000;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0px 20px 20px 20px;
    border: none;
}
.btn {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.operator {
    background-color: #f9a825;
    color: #fff;
}

.btn.equal {
    background-color: #0b8043;
    color: #fff;
    grid-column: span 4;
}

.btn:hover {
    background-color: #d4d4d4;
}

.btn.operator:hover {
    background-color: #f57f17;
}

.btn.equal:hover {
    background-color: #0a6e37;
}
